{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotpassword</title>
    <link rel="stylesheet" href="{% static 'accounts/passwordreset.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'accounts/forgotpassword.css' %}"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
    
   <body>
       
    <form style="width: 60%; height: auto;" action="index.html" class="fgt-form">
        {% csrf_token %}
        <div align="center">
            <img src="{% static 'accounts/img/Logo.png' %}" alt="venbook logo" width="200" height="100%">
        </div>
        <br>
        <center>
            <h6 style="font-size: 16px; margin-top: 60px; font-family:Arial, Helvetica, sans-serif; color: #2c2c2c; line-height: 2;">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                <br>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </h6>
        </center>
        

    </form>



</body>

</html>