@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box;
}

.form-group{
  margin-bottom: 12px;
}

.form-group label{
  display: inline-block;
  margin-bottom: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
} 

.fgt-form {
    width: 630px;
    background: #F0F0F0;
    height: auto;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 40px;
}

.txtb {
    /* background-color: red; */
    margin: 30px auto;
    text-align: center;
    
}

.txtb input {
    height: 50px;
    width: 405px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.txtb label{
    display:none;
}

span {display: none;

}
ul{
    list-style: none;
    position: absolute;
    bottom: 180px;
    color: rgb(254, 40, 40);
}


.logbtn{
    margin-top: 12px;
    padding: 10px 0;
    display: block;
    width: 125px;
    height: 40px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background:#FECA76 ;
  }
  
  .logbtn:hover{
    background: rgb(254, 250, 2);
  }

.forgt-btn{
    margin: 25px;
    padding: 0px 27px 0px 73px;

}
.forgt-btn a{

}
.forgt-text{
    text-align: center;
    margin-top: -15px;
    margin-bottom: 10px;
    font-family: poppins;
    font-size: 28px;
    font-weight: bold;
}
