
.searchContainer{
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Poppins';
  padding: 10px 0 10px 10px;
  margin-top: -35px;
  overflow-x: hidden !important;
}

.bg-image{
  text-align: right;
}
.bg-image img{
  width: 1400px;
  height: 98vh;
  z-index: 999;
  border-radius: 20px;
}
.bg-banner{
  position: absolute;
  top: 90px;
  left: 140px;
  z-index: -1;
  width: 600px;
  height:160px;
  border: 0;
  border-radius: 10px;
  background-color: #30e211;
}
.p{
  position: absolute;
  top: 90px;
  left: 140px;
  color: #fff;
  text-decoration: solid;
  font-size: 36px;
  padding-left: 30px;
  padding-top: 10px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.781);
}
.text{
  position: absolute;
  top: 150px;
  left: 140px;
  color: #fff;
  padding-left: 30px;
  padding-top: 10px;
  font-size: 54px;
  text-shadow: 3px 3px 7px black;

}
.filter{
  width: 425px;
  height: auto;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  top: 400px;
  left: 140px;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.filter h5{
  font-size: 18px;
}
.form-control{
  font-size: 14px;
}

.filter-label{
  font-size: 12px;
}

.btn-search{
  margin-top: 12px;
  padding: 10px 0;
  display: block;
  width: 80%;
  height: 40px;
  color: rgb(63, 63, 63);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-family: Poppins;
  font-weight: 600;
  background:#FECA76 ;
}
.btn-search:hover{
  background: rgb(254, 149, 2);
}



body {
  line-height: 1.5;
}



.wrapper {
  overflow-x: hidden !important;
  overflow-y: hidden;
    display: grid;
    margin-top: 60px;
    grid-template-columns: 500px 250px 100%;
  }

  .box {
    background-color:#fff;
  }

  .a {
    grid-column: 1 / span 2;
  }

  .a img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
  
  .b {
    padding: 30px;
    position: relative;
    grid-column: 3 ;
    grid-row: 1 / span 2;
    height: 570px;
    background-color: #670606;
    margin-top: 40px;
  }
  
  .txt1{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:auto;
  }

  .txt1 div{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-left: 60px;
    margin-top: 30px;
  }
  /* .b .txt1 p:nth-child(2){
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
        text-align: justify;
    padding: 40px 40px 0px 40px;
    top: 300px;
  } */

  .b .btn{
    width: 239px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #FECA76;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 60px;
  }


  .c {
    grid-column: 1 ;
    grid-row: 2 ;
  }

  .c img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  .d {
    grid-column: 2 ;
    grid-row: 2 ;
  }

  .d img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  .whyTitle{   
    font-family: 'Eagle Lake', cursive;
    color: #fff;
    text-decoration: none;
    font-size: 96px;
    margin-bottom: 20px;
  }
  @media (min-width: 1440px){
    .bg-image img{
      width: 74%;
    }

  }

  @media (max-width: 768px){

    .searchContainer{
        width: 100%;
        margin: -40 auto;
    }
    .bg-image img{
        width: 75%;
        height: 90vh;
    }
    .p{
        font-size: 24px;
        left: 20px;
        top: 80px;
    }
    .text{
        font-size: 34px; 
        left: 20px; 
        top: 130px;

    }
    .filter{
        position: absolute;
        width: 50%;
        height: auto;
        margin: 0 auto;
        left: 30%;
        transform: translate(-50%, 0);
        top: 280px;
    }
    .bg-banner{
      position: absolute;
      top: 80px;
      left: 30px;
      z-index: -1;
      width: 600px;
      height:130px;
  }
  .wrapper {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 150px 200px 100%;
    background-color: #fff;
  }

  .b {
    padding: 30px;
    position: relative;
    grid-column: 3 ;
    grid-row: 1 / span 2;
    height: 450px;
    background-color: #670606;
    margin-top: 40px;
  }

  .whyTitle{   
    font-size:46px;
    margin-bottom: 15px;
  }

  .txt1{
    width: 60%;
    margin-left: -60px;
  }

  .txt1 div{
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
  }

  .b .btn{
    margin-top: 20px;
    margin-left: 0;
  }


}

@media (max-width: 426px){

  .searchContainer{
      width: 100%;
      margin: 0 auto;
  }
  .bg-image img{
      width:70%;
      height: 75vh !important;
  }
  .p{
      font-size: 14px;
      left: -10px;
      top: 90px;
  }
  .text{
      width: 100%;
      font-size: 24px; 
      left: -10px; 
      top: 120px;

  }
  .filter{
      position: absolute;
      width: 80%;
      height: auto;
      margin: 0 auto;
      left: 45%;
      transform: translate(-50%, 0);
      top: 250px;
  }

    .filter h5{
      font-size: 14px;
  }
  .form-control{
      font-size: 12px;
  }
  
  .filter label{
      margin-bottom: -60px !important;
      font-size: 9px;
  }
  .filter .form-control{
    margin-bottom: -20px !important;
  }

  .bg-banner{
    position: absolute;
    top:90px;
    left: 10px;
    z-index: -1;
    width: 600px;
    height:110px;

}
.wrapper {
  display: grid;
  margin-top: 30px;
  grid-template-columns: 50px 110px 100%;
  background-color: #fff;
}

.b {
  padding: 30px;
  position: relative;
  grid-column: 3 ;
  grid-row: 1 / span 2;
  height: 470px;
  background-color: #670606;
  margin-top: 40px;
}

.whyTitle{   
  font-size:28px;
  margin-bottom: 5px;
  margin-left: -25px;
  font-weight: 800;
}

.txt1{
  width: 80%;
  margin-left: -80px;
}

.txt1 div{
  font-size: 12px;
  text-align: justify;
  margin-top: 5px;
}

.b .btn{
  margin-top: 20px;
  margin-left: -20px;
  width: 140px;
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  background: #FECA76;
  border-radius: 5px;
  font-weight: 600;

}

.btn-search{
  margin-top: 12px;
  padding: 10px 0;
  display: block;
  width: 140px;
  height: 35px;
  color: rgb(63, 63, 63);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  background:#FECA76 ;
}
.a {
  width: 100%;
  grid-column: 1 / span 2;
  height: auto;
}

.a img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  margin-bottom: -235px;
}
.c {
  width: 320%;
  min-height: 100%;
  overflow: auto;
  grid-column: 1 ;
  grid-row: 3 ;
  margin-top: -159px;
}

.c img{
  width: 100%;
}

.d {
  grid-column: 2 ;
  grid-row: 2 ;
  height: 163px;
}

.d img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

}
